<!DOCTYPE html>
<html lang = "en">
<head>
    <style>
        h1{text-align:center;}
        body{
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: center;
        }
    </style>
    <div>
      <nav id = "navBar">
          <a id = "homeButton"><img class = "homeLogo" src="../resources/img/LogoSmall.png" alt ="Home logo">
          <a class="navButton" id = "RButton" href = "registration.html">Sign Up</a>
          <a class="navButton" id = "RButton" href = "FrontPage.html">Login</a>
      </nav>
    </div>
    <meta charset="UTF-8">
    <h1>Welcome to ThoughtSpot!</h1>
    <link rel="stylesheet" href="../resources/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <hr size=“10” width=“10px” float=“[left,right,center]”>
</head>
<body>
    <div class="wrapper">
        <div class="left">
            <center><img src="../resources/img/LogoBig.png" alt="Website logo" width="400"></center>
            <h2><center>What is ThoughtSpot?</center></h2>
            <p><center>ThoughtSpot is an online journal designed to help you develop your mindfulness and introspection through documenting your daily life into one easy to use online journal. ThoughtSpot contains multiple features that make it easier to keep track of how you feel each day, such as a mood meter. It also keeps track of the time and date for you!</center></p>

            <h4><center>Click here to login:</center></h4>
            <center><a href="FrontPage.html"><button class="open-button">Login</button></a></center>

            <br>
            <h4><center>Click here to sign up:</center></h4>
            <center><a href="registration.html"><button class="open-button">Sign Up</button></a></center>
            <br>
            </div>
          </div>
    </div>
        <script>includeHTML();</script>
</body>
