<div>
    <nav id = "navBar">
        <a id = "homeButton" href = "#"><img class = "homeLogo" src="../resources/img/LogoSmall.png" alt ="Home logo"></a>
        <a class="navButton" id = "projectsButton" href = "/homePage">My Journals</a>
        <a class="navButton RButton" href = '/FrontPage'>Logout</a>
        <a class="navButton RButton" href = "/user_settings">Profile</a>
    </nav>
</div>
