<head>
    <link rel="stylesheet" href="../resources/css/styles.css">
</head>

<body>
    <div>
        <nav id = "navBarOurs">
            <a id = "homeButton" href = "#"><img class = "homeLogo" src="../resources/img/LogoSmall.png" alt ="Home logo"></a>
            <a class="navButton" id = "projectsButton" href = "#">My Journals</a>
            <a class="navButton" id = "RButton" href = "FrontPage.html">Logout</a>
            <a class = "navButton" id = "accountButton" href = "userSettings.html">Profile</a>
        </nav>
    </div>
</body>