/* Dark Orange: #F15A29 */
/* yellow: #FBB040 */
/*dark yellow: #F7941D*/
/*Cream:FFDBAB */
/* near black #161616 */
 
*{
    font-family: "Times New Roman", Times, serif;
    font-size: 24px;
    margin: 0px;
    padding: 0px;
}
/* nav Bar start*/
#navBar {
    font-size: 24px;
    background-color: #F15A29;
    height: 10vh;
    border: none;
}
#accountButton {
    /* padding: 1em 1.75em; */
    width: .25em;
}
 
#accountButton > img{
    width: 3em;
    border-radius: 25%;
}
 
body{
    background-color: #ffdbab;
    margin:0;
    overflow-x: hidden;
}
.navButton {
    font-size: 30px;
    color: #646464;
    height: 20px;
    padding: 2vh;
    text-decoration: none;
    transition: color 300ms ease-in-out;
    display:inline-block;
    vertical-align:top;
}
 
.navButton:hover {
    color: #161616;
}
 
.RButton{
    float:right;
}
 
 
.homeLogo {
    padding:  .5vw;
    height: 10vh;
}
 
 
 
input[type=submit]{
    background-color: #F15A29;
    border: 2px solid black;
}
 
input[type=submit]:hover{
    background-color: #F15A29;
    border: 2px solid black;
    text-decoration: none;
}
 
 
.vl {
    height: 100%;
    float: right;
    grid-column: 3;
   
    margin-left: 100%;
  }
 
@media only screen and (min-width: 400px) {
   
    .overallContainer{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
   
    #newJournalButton{
        font-size: 1.5em;
        text-decoration: none;
        background-color: #F7941D;
        padding: 20px;
        color: #161616;
        text-align: center;
        margin-left: 40%;
        margin-right:auto ;
        display: inline-block;
        border-radius: 30px;
    }
 
    .journalItem{
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-color: #161616;
        border-bottom-color: #161616;
        display: grid;
        grid-template-columns: 90% 5% 5%;
    }
   
    .journalName{
        padding-left: 2%;
        font-size: 3em;
    }
    .journalItem >  img{
        padding-top: 33%;
        height: 1.5em;
 
    }
 
    .shareButton{
        grid-column: 3;
    }
 
    .menuButton{
        grid-column: 2;
    }
 
    .leftBar{
        display: grid;
        grid-row: 1/20;
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 40% 40%;
        row-gap: 2%;
        border-right-color: #161616;
        border-right-style: solid ;
        height:100vh;
 
    }
 
 
 
    .journalLogo{
        margin-top: 3%;
        grid-column: 2;
        grid-row: 1;
        background-color: white;
        border-radius: 100%;
 
    }
 
    .details{
        grid-column: 2;
        grid-row: 2;
        display: grid;
    }
   
    .details > #cJournalName{
        margin-bottom: 5%;
        text-align: center;
        font-size: 2em;
    }
    .details > p{
        margin-bottom: 2%;
        margin-left: 20%;
        font-size: 1em;
    }
/*
    .LBItem{
        padding: 20px 10px;
        background-color: #161616;
        text-align: center;
        border-right: #161616;
    }*/
 
}